/* All */


/* Navbar */
nav {
  z-index: 1;
}

@media (min-width: 768px) {
  #collapsedMenu {
    display: none !important;
  }
}


/* Hero */
#hero {
  height: 100vh;
  background: url(../images/hero-background.jpg) center no-repeat;
  background-size: cover;
}

#hero .row {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.11);

}

@media (max-width: 767px) {
  #hero .row {
    border: none !important;
    width: 100%;
    height: 100%;
  }
}


/* About */

#about img {
  width: 200px;
}

@media (min-width: 1200px) {
  #about>.row {
    max-width: 80%;
    margin: 0 auto;
  }
}